#search{
	width:100%;
	float:left;
}
#search ul {
	margin:0;
	padding:0;
}
#search li {
	list-style-type:none;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:1px #999 dotted;
	color:#FFF;
	float:left;
	width:100%;
	line-height:140%;
}
#search li p a {
	color:#999;
}
#search li p a:hover {
	color:#f4a000;
}
#page{
	width:100%;
	clear:both;
	float:left;
	margin:30px 0 0 0;
	color:#FFF;
}