#step{
	width:100%;
	float:left;
	margin-bottom:40px;
}
#step img{
	width:100%;
}
#cart-photo{
	width:25%;
	float:left;
	border:1px #CCCCCC solid;
}
#cart-photo img{
	width:100%;
	float:left;
	border:1px #CCCCCC solid;
}
#cart-photo-01{
	width:49%;
	float:left;
	border:1px #f4a000 solid;
}
#cart-photo-01 img{
	width:100%;
}
#cart-list-01{
	width:73%;
	float:right;
	color:#FFF;
}
#cart-list-01 th {
	border-bottom:1px #666 dotted;
}
#cart-list-01 td {
	border-bottom:1px #666 dotted;
}
#cart-list-02{
	width:100%;
	clear:both;
	float:left;
	color:#FFF;
	margin:20px 0;
}
#cart-list-02 ul{
	margin:0;
	padding:0;
}
#cart-list-02 li{
	list-style-type:none;
	width:100%;
	float:left;
	padding:8px 0;
	border-bottom:1px #666 dotted;
}
#cart-list-02 li p{
	line-height:200%;
}
#cart-list-02 li table {
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	text-align:left;
}
#cart-list-02 li th {
	padding:10px 4px 10px 4px;
	color:#f4a000;
}
#cart-list-02 li td {
	padding:10px 4px 10px 4px;
}
#cart-list-03{
	width:100%;
	float:left;
	color:#FFF;
}
#cart-list-03 th {
	border-bottom:1px #666 dotted;
}
#cart-list-03 td {
	border-bottom:1px #666 dotted;
}
#cart-list-04{
	width:49%;
	float:right;
	color:#FFF;
}
#cart-list-04 th {
	border-bottom:1px #666 dotted;
}
#cart-list-04 td {
	border-bottom:1px #666 dotted;
}
#endbtn-bar{
	width:100%;
	clear:both;
	float:left;
	margin-top:40px;
	padding:5px 0;
	text-align:center;
	background:#444;
	border-radius:20px;
}
#midwords-bar{
	width:100%;
	clear:both;
	float:left;
	margin-top:40px;
	padding:5px 0;
	text-align:center;
	background:#444;
	border-radius:20px;
	color:#f4a000;
	font-size:26px;
	font-weight:bolder;
	line-height:120%;
}
#noticebox{
	width:96%;
	float:left;
	border:1px #CCCCCC solid;
	padding:7px 15px;
	color:#FFF;
}
#noticebox p{
	font-size:18px;
	text-align:center;
}
#noticebox ol{
	margin:0;
	padding-left:18px;
}
#noticebox li{
	list-style-type:decimal;
	width:99%;
	float:left;
	padding:8px 10px;
	border-bottom:0;
}
#noticebox table {
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	text-align:left;
}
#noticebox th {
	padding:10px 4px 10px 4px;
	border-bottom:0;
	color:#f4a000;
}
#noticebox td {
	padding:10px 4px 10px 4px;
	border-bottom:0;
}
#share {
	position: absolute;
	width: 250px;
	padding:5px 0;
	text-align:center;
	color:#FFF;
	border-radius:0 0 10px 10px;
	background:#f4a000;
	font-size:12px;
	z-index: 10;
}
#share a {
	color:#FFF;
}
#share a:hover {
	color:#000;
}




/*平板-3*/
@media only screen and (max-width:785px) {
#cart-photo{
	width:70%;
	float:left;
	margin-left:15%;
	border:1px #CCCCCC solid;
}
#cart-photo-01{
	width:73%;
	float:left;
	margin-left:13.5%;
	border:1px #f4a000 solid;
}
#cart-list-01{
	width:100%;
	clear:both;
	float:left;
	margin-left:0;
}
#cart-list-04{
	width:100%;
	clear:both;
	float:left;
	margin-left:0;
	margin-top:40px;
}
#noticebox{
	width:96%;
	margin-left:-1%;
}
#noticebox p{
	font-size:16px;
	text-align:center;
}
		}